:root {
  /* color */
  --primary-color: #1e6f5c;
  --btn-color: #e6dd3b;
  --heading-color: #ece7b4;

  /* font */
  --heading-font: 'Montserrat', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

* {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1420px;
}

.section-margin {
  margin-top: 250px;
}

/* Navbar Start */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .menu-wrapper .menu {
  margin: auto;
}

.navbar .logo {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--primary-color);
}

.navbar .logo span {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--heading-color);
}

.navbar .menu a {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 400;
  color: #1e1b1b99;
  margin: 0 20px;
}

.navbar .menu a.active {
  color: var(--primary-color);
  font-weight: 800;
}

.navbar .icons i {
  font-size: 25px;
}

.navbar .icons .icon {
  margin-right: 20px;
  color: var(--primary-color);
}

/* Navbar End */
